<p id="notice"><%= notice %></p>

<h1>Tasks <i class="fa fa-bars" aria-hidden="true"></i>

</h1>

<table class= 'table'>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Due date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.due_date %></td>
        <td><%= link_to 'Show', task, class: 'btn btn-info' %></td>
        <td><%= link_to 'Edit', edit_task_path(task), class: 'btn btn-info' %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-info' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<center class="stack">
  <%= link_to 'New Task', new_task_path, class: 'newtask' %>
  <%= image_tag 'https://i.pinimg.com/originals/7d/06/89/7d068990a6d0fa0b99d8ca96afde86dc.gif', class: "logo" %>
</center>
